<!-- <hello name="{{ name }}"></hello> -->
<!-- <p>Start editing to see some magic happen :)</p> -->

<div class="box" data-aos="fade-down-right"></div>
<hr />
<div class="box" data-aos="flip-down"></div>
<hr />
<div class="box" data-aos="flip-up"></div>

<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-left"></div>
<hr />
<div class="box" data-aos="fade-right"></div>
<hr />
<div class="box" data-aos="fade-down"></div>
<hr />
<div class="box" data-aos="fade-down"></div>
